{% load static %}
{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>{% if heading %}{{ heading }} | {% endif %}{{ title }}</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1" />
    <meta name="description" content="{{ description }}" />
    <meta property="og:title" content="{% if heading %}{{ heading }}{% else %}{{ title }}{% endif %}" />
    <meta property="og:description" content="{{ description }}" />
    <meta name="twitter:card" content="summary_large_image" />
    {% render_bundle 'chunk-vendors' 'css' %}
    {% render_bundle 'index' 'css' %}
    {% render_bundle 'detail' 'css' %}
    {% block head %}{% endblock %}
  </head>
  <body class="mode-final">
    <noscript>
      <p class="alert box-error">This app requires JavaScript</p>
    </noscript>
    <p class="alert box-error error-unsupported">
      This app only supports the latest versions of common web browsers. Please
      upgrade your browser.
    </p>
    <header class="header">
      <div class="header-section header-heading">
        <h1>{% if heading %}{{ heading }}{% else %}{{ title }}{% endif %}</h1>
      </div>
      <div class="header-section header-nav">
        <span>
          {% block header %}{% endblock %}
        </span>
      </div>
      <div class="header-section header-user">
        <span>
          {% if user.is_authenticated %} Logged in as
          <a href="{% url 'accounts:profile' %}">{{ user.username }}</a> /
          <a href="{% url 'accounts:logout' %}?next={{ request.path }}"
            >logout</a
          >
          {% if user.is_staff %} /
          <a href="{% url 'admin:index' %}">go to Django Admin</a>
          {% endif %} {% else %}
          <a href="{% url 'accounts:login' %}?next={{ request.path }}"
            >log in</a
          >
          {% endif %}
        </span>
      </div>
    </header>
    <main class="main">
      {% block content %}{% endblock %}
    </main>
    {% block footer %}{% endblock %}
    <script src="{% static 'bundles/supportedBrowsers.js' %}"></script>
    <script>
      if (!window.SUPPORTED_BROWSERS.test(navigator.userAgent)) {
        document.body.className += ' is-unsupported';
      }
    </script>
    {% render_bundle 'chunk-vendors' 'js' %}
    {% render_bundle 'chunk-common' 'js' %}
    {% block scripts %}{% endblock %}
  </body>
</html>
