{% load static %}
{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>{% if heading %}{{ heading }} | {% endif %}{{ title }}</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1" />
    <meta name="description" content="{{ description }}" />
    <meta property="og:title" content="{% if heading %}{{ heading }}{% else %}{{ title }}{% endif %}" />
    <meta property="og:description" content="{{ description }}" />
    <meta name="twitter:card" content="summary_large_image" />
    {% block meta %}{% endblock %}
    {% render_bundle 'chunk-common' 'css' %}
    {% render_bundle 'chunk-vendors' 'css' %}
    {% block styles %}{% endblock %}
  </head>
  <body class="mode-final">
    {% block top %}{% endblock %}
    {% block app %}{% endblock %}
    {% include 'partials/footer.html' %}
    {% block scripts %}{% endblock %}
  </body>
</html>
