{% extends 'base.html' %}
{% load static %}
{% load render_bundle from webpack_loader %}
{% load email_extras %}
{% block head %}
<meta property="og:image" content="{% static 'img/tessellation.png' %}" />
<meta property="og:url" content="{% url 'index' %}" />
{% render_bundle 'index' 'css' %}
{% endblock %}
{% block header %}
<div id="app-intro"></div><!-- TODO -->
{% endblock %}
{% block content %}
<div id="app"></div>
{% endblock %}
{% block scripts %}
{{ data|json_script:'composition-data' }}
{% render_bundle 'index' 'js' %}
{% endblock %}{% block footer %}
<footer class="footer">
  <p>
    created by
    <a href="https://uttarayan.tumblr.com/">Sébastien Mazauric</a> and
    <a href="https://www.jakubvalenta.cz/">Jakub Valenta</a> |
    {{ email|obfuscate_email|safe }} |
    <a href="https://www.github.com/jakubvalenta/tessellation">code</a>
  </p>
</footer>
{% endblock %}
