[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ddt = "*"
"flake8" = "*"
isort = "*"
mypy = "*"

[packages]
Django = "*"
djangorestframework = "*"
psycopg2 = "*"
django-extensions = "*"
drf-base64 = "*"
django-debug-toolbar = "*"
django-cleanup = "*"
django-unused-media = "*"
django-webpack-loader = "*"
cairosvg = "*"
Pillow = "~=6.2"
