$color-white: #fff;
$color-blue: #b2deff;
$color-green: #c8ffb2;
$color-red: #ffb2c7;
$color-orange: #ffcdb2;
$color-yellow: #eeffb2;

$color-background-light: #555;
$color-background: #444;
$color-background-dark: #333;
$color-background-darker: #111;
$color-text: #bbb;
$color-text-dark: #777;
$color-text-inverse: $color-background-darker;
$color-border: #777;
$color-highlight: #fff;
$color-link: $color-blue;

$font-family: 'Droid Sans Mono', monospace;
