@import '_variables';

button,
.button,
.button-link,
.label-file,
body .introjs-button {
  display: inline-block;
  padding: 0.5em 1em;
  border: 0;
  border-radius: 0.25em;
  font-family: $font-family;
  font-size: 100%;
  line-height: 1.5;
  color: $color-text;
  background: $color-background-dark;
  box-shadow: 0 0 0.1em $color-background-darker;
  white-space: nowrap;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $color-highlight;
    background: $color-background-darker;
  }
  &[disabled] {
    color: $color-text-dark;
    cursor: default;

    &:hover,
    &:focus {
      color: $color-text-dark;
      background: $color-background-dark;
    }
  }
}
.button-secondary {
  background: transparent;
  box-shadow: 0;
}
.button-link {
  color: $color-blue;
  background: transparent;
  box-shadow: none;

  &:hover,
  &:focus {
    background: transparent;
  }
}
.button-close {
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  box-shadow: none;
}
.button-box {
  cursor: pointer;
  box-shadow: 0 0 0.1em $color-background-darker;

  &:hover,
  &:focus {
    box-shadow: 0 0 0.5em $color-background-darker;
  }
}

.input-file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
}
.input-number {
  line-height: 2;
  width: 3em;
}

button + button {
  margin-left: 1em;
}
