@use 'sass:math';

@import '_variables';

@font-face {
  font-family: 'Droid Sans Mono';
  src: url('../fonts/DroidSansMono-webfont.eot');
  src: url('../fonts/DroidSansMono-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/DroidSansMono-webfont.woff') format('woff'),
    url('../fonts/DroidSansMono-webfont.ttf') format('truetype'),
    url('../fonts/DroidSansMono-webfont.svg#DroidSansMono') format('svg');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: $font-family;
  font-size: math.div(9, 12) * 100%;
  line-height: 1.5;
  color: $color-text;
  background: $color-background;
}

@media screen and (min-width: 800px) {
  #app {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 0;
  }
}

.header {
  padding: 0 2em;
}
.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
  background-color: $color-background-dark;
  text-transform: lowercase;
  white-space: nowrap;

  h1 {
    margin: 0;
    letter-spacing: 0.25em;
  }
  form {
    display: inline-block;
  }
}
.header-section {
  padding: 1.5em 0;
}
.header-nav {
  grid-column: 1 / 2;
  grid-row: 1;
  padding-top: 1em;
  padding-bottom: 0;

  .button {
    padding: 1em 2em;
    box-shadow: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    & + .button {
      margin-left: 1em;
    }

    &.active {
      color: $color-highlight;
      background: $color-background;
    }
  }
}
.header-heading {
  grid-column: 2 / 3;
  grid-row: 1;
  text-align: center;
}
.header-user {
  grid-column: 3 / 4;
  grid-row: 1;
  text-align: right;
}

.main {
  padding: 1em 2em;
}
.text {
  max-width: 36em;
}

.footer {
  padding: 1em 2em;
  text-align: right;

  p {
    margin: 0;
  }
}

.error-unsupported {
  display: none;
}
.is-unsupported .error-unsupported {
  display: block;
}

@media screen and (max-width: 799px) {
  .header,
  .footer,
  .main {
    padding-left: 1em;
    padding-right: 1em;
  }
  .header {
    row-gap: 0.5em;
  }
  .header-heading {
    grid-column: 1 / 4;
    padding-top: 1em;
    padding-bottom: 0;
  }
  .header-nav {
    grid-column: 1 / 4;
    grid-row: 2;
  }
  .header-user {
    grid-column: 1 / 4;
    padding-top: 1em;
    padding-bottom: 0;
  }
}
