{% extends 'page.html' %}
{% block header %}
<a href="{% url 'accounts:login' %}">back to login page</a>
{% endblock %}
{% block content %}
{% if validlink %}
<h3>Change password</h3>
<form method="post" action="{% url 'accounts:password_reset_confirm' %}">
  {% csrf_token %} {{ form }}
  <input type="submit" value="Save" />
</form>
{% else %}
<p>This password reset link is invalid or was already used.</p>
<p>
  You can try to
  <a href="{% url 'accounts:password_reset' %}">reset your password again</a>.
</p>
{% endif %}
{% endblock %}
