{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      href="{% static 'css/main.css' %}"
      type="text/css"
      media="screen"
    />
    <title>Tiles</title>
  </head>
  <body class="no-js mode-final">
    <noscript>This app requires JavaScript</noscript>
    <header>
      {% if user.is_authenticated %}
      <p>Logged in as {{ user.username }} <a href="{% url 'logout' %}">logout</a></p>
      {% else %}
      <p><a href="{% url 'login' %}">log in</a></p>
      {% endif %}
    </header>
    {% block content %}{% endblock %}
    {% block scripts %}{% endblock %}
    <script>
      document.body.classList.remove('no-js');
    </script>
  </body>
</html>
