{% load static %}
{% load sass_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      href="{% sass_src 'css/main.scss' %}"
      rel="stylesheet"
      type="text/css"
      media="screen"
    />
    <title>Tiles</title>
  </head>
  <body class="no-js mode-final">
    <noscript>This app requires JavaScript</noscript>
    <header class="header">
      <div class="header-section header-left">
        {% block header %}
        {% endblock %}
      </div>
      <div class="header-section header-main">
        <h1>Tiles</h1>
      </div>
      <div class="header-section header-user">
        {% if user.is_authenticated %} Logged in as
        <a href="{% url 'accounts:profile' %}">{{ user.username }}</a> /
        <a href="{% url 'accounts:logout' %}?next={{ request.path }}">logout</a>
        {% if user.is_staff %} /
        <a href="{% url 'admin:index' %}">go to Django Admin</a>
        {% endif %} {% else %}
        <a href="{% url 'accounts:login' %}?next={{ request.path }}">log in</a>
        {% endif %}
      </div>
    </header>
    <main class="main">
      {% block content %}{% endblock %}
    </main>
    {% block scripts %}{% endblock %}
    <script>
      document.body.classList.remove('no-js');
    </script>
  </body>
</html>
