{% extends 'base.html' %}
{% block header %}
<a href="{% url 'index' %}">back to homepage</a>
{% endblock %}
{% block content %}
<h2 class="sr-only">Composition</h2>
<div class="detail">
  <div class="composition" id="js-composition"></div>
</div>
{% endblock %}
{% block scripts %}
{{ data|json_script:'composition-data' }}
<script>
  import('/static/js/pages/detail.js').then((Page) =>
    Page.init(
      JSON.parse(document.getElementById('composition-data').textContent)
    )
  );
</script>
{% endblock %}
