<header class="header">
  <div class="header-section header-heading">
    <h1>{{ title }}</h1>
  </div>
  <div class="header-section header-user">
    <span>
      {% if user.is_authenticated %}
      Logged in as
      <a href="{% url 'accounts:profile' %}">{{ user.username }}</a> /
      <a href="{% url 'accounts:logout' %}?next={{ request.path }}">logout</a>
      {% if user.is_staff %} /
      <a href="{% url 'admin:index' %}">go to Django Admin</a>
      {% endif %}
      {% else %}
      <a href="{% url 'accounts:login' %}?next={{ request.path }}">log in</a>
      {% endif %}
    </span>
  </div>
</header>
