@import '_mixins';

$color-background: #444;
$color-background-dark: #333;
$color-background-darker: #111;
$color-text: #bbb;
$color-border: #777;
$color-highlight: #fff;
$color-link: #b2deff;
$color-green: #c8ffb2;
$color-red: #ffb2c7;
$color-yellow: #ffcdb2;
$font-family: 'Droid Sans Mono', monospace;

html,
body {
  height: 100%;
}
body {
  font-family: $font-family;
  font-size: 9/12 * 100%;
  line-height: 1.5;
  color: $color-text;
  background: $color-background;
  margin: 0;
  display: flex;
  flex-direction: column;
}

p,
ul,
ol,
dl,
h1,
h2,
h3,
h4,
h5,
h6,
table {
  margin: 0.5em 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

a {
  color: $color-link;
  text-decoration: none;

  &:hover,
  &:active,
  &:focus {
    color: $color-highlight;
  }
}

button {
  padding: 0.5em 1em;
  border: 0;
  border-radius: 0.25em;
  font-family: $font-family;
  font-size: 100%;
  line-height: 1.5;
  color: $color-text;
  background: $color-background-dark;
  box-shadow: 0 0 0.1em $color-background-darker;

  &:hover,
  &:active,
  &:focus {
    color: $color-highlight;
    background: $color-background-darker;
  }
}

.header {
  display: flex;
  flex-direction: columns;
  text-transform: lowercase;

  h1 {
    margin: 0;
    letter-spacing: 0.25em;
    color: $color-highlight;
  }
}
.header-section {
  padding: 1em 2em;
}
.header-main {
  flex-grow: 1;
}

.main {
  display: flex;
  flex-grow: 1;
  padding: 1em 2em;
}

.section-composition {
  flex-grow: 1;
  padding: 0 2em;
}

.detail {
  margin: 0 auto;
}

.composition {
  width: 100%;
  padding: 1em;
  border-radius: 0.25em;
  box-sizing: border-box;
  background: $color-background-dark;
  box-shadow: 0 0 0.25em $color-background-darker;
}
.row {
  display: flex;
  flex-direction: columns;
}
.tile {
  flex-grow: 1;
  position: relative;
  background: #fff;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  &:before {
    content: '';
    display: block;
    padding-bottom: 100%;
  }
}

.tile-inner {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  box-sizing: border-box;
  line-height: 4em;
  text-align: center;
  border: 0.5em solid transparent;
}

.mode-final .composition .tile-inner {
  visibility: hidden;
}

.composition-shuffle {
  margin: 1em 0;
  text-align: center;
}

.col {
  float: left;
}
.col .tile {
  float: none;
}

.images .tile {
  position: relative;
  width: 10em;
  height: 10em;
}
.images input,
.images button {
  display: block;
}

.conn-button {
  position: absolute;
  padding: 0;
  width: 60%;
  height: 20%;
  line-height: 1.1;
}
.conn-button-0 {
  left: -20%;
  top: 40%;
  transform: rotate(-0.25turn);
}
.conn-button-1 {
  left: 20%;
  top: 0;
}
.conn-button-2 {
  transform: rotate(0.25turn);
  top: 40%;
  right: -20%;
}
.conn-button-3 {
  transform: rotate(0.5turn);
  left: 20%;
  bottom: 0;
}

.size-input {
  width: 3em;
}

.storage-header {
  display: flex;
  flex-direction: columns;
  min-width: 35em;
}
.section-heading {
  flex-grow: 1;
  margin: 0;
  padding: 0.5em 0;
  color: $color-highlight;
  text-transform: lowercase;
}
.storage-empty {
  border-top: 1px solid $color-border;
  padding: 0.5em 0;
  font-style: italic;
}
.storage-status {
  font-style: italic;
}
.success {
  color: $color-green;
}
.error {
  color: $color-red;
}
.storage-list {
  min-height: 1em;
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1em;

  td {
    border-top: 1px solid $color-border;
    padding-left: 0.5em;

    &:first-child {
      width: 100%;
      padding-left: 0;
    }
  }
  button {
    margin: 0.1em 0;
  }
}

.conn-0-1 {
  border-left-color: red;
}
.conn-0-2 {
  border-left-color: green;
}
.conn-0-3 {
  border-left-color: blue;
}
.conn-0-4 {
  border-left-color: yellow;
}
.conn-0-5 {
  border-left-color: pink;
}
.conn-1-1 {
  border-top-color: red;
}
.conn-1-2 {
  border-top-color: green;
}
.conn-1-3 {
  border-top-color: blue;
}
.conn-1-4 {
  border-top-color: yellow;
}
.conn-1-5 {
  border-top-color: pink;
}
.conn-2-1 {
  border-right-color: red;
}
.conn-2-2 {
  border-right-color: green;
}
.conn-2-3 {
  border-right-color: blue;
}
.conn-2-4 {
  border-right-color: yellow;
}
.conn-2-5 {
  border-right-color: pink;
}
.conn-3-1 {
  border-bottom-color: red;
}
.conn-3-2 {
  border-bottom-color: green;
}
.conn-3-3 {
  border-bottom-color: blue;
}
.conn-3-4 {
  border-bottom-color: yellow;
}
.conn-3-5 {
  border-bottom-color: pink;
}
.rot-1 {
  transform: rotate(-0.25turn);
}
.rot-2 {
  transform: rotate(-0.5turn);
}
.rot-3 {
  transform: rotate(-0.75turn);
}
