@import '_mixins';

$color-white: #fff;
$color-blue: #b2deff;
$color-green: #c8ffb2;
$color-red: #ffb2c7;
$color-orange: #ffcdb2;
$color-yellow: #eeffb2;

$color-background: #444;
$color-background-dark: #333;
$color-background-darker: #111;
$color-text: #bbb;
$color-text-inverse: $color-background-darker;
$color-border: #777;
$color-highlight: #fff;
$color-link: $color-blue;
$font-family: 'Droid Sans Mono', monospace;

html,
body {
  height: 100%;
}
body {
  font-family: $font-family;
  font-size: 9/12 * 100%;
  line-height: 1.5;
  color: $color-text;
  background: $color-background;
  margin: 0;
  display: flex;
  flex-direction: column;
}

p,
ul,
ol,
dl,
h1,
h2,
h3,
h4,
h5,
h6,
table {
  margin: 0.5em 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

a {
  color: $color-link;
  text-decoration: none;

  &:hover,
  &:active,
  &:focus {
    color: $color-highlight;
  }
}

button,
.label-file {
  padding: 0.5em 1em;
  border: 0;
  border-radius: 0.25em;
  font-family: $font-family;
  font-size: 100%;
  line-height: 1.5;
  color: $color-text;
  background: $color-background-dark;
  box-shadow: 0 0 0.1em $color-background-darker;
  white-space: nowrap;

  &:hover,
  &:active,
  &:focus {
    color: $color-highlight;
    background: $color-background-darker;
  }
}
.button-secondary {
  background: transparent;
  box-shadow: 0;
}

.input-file {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
}
.input-number {
  line-height: 2;
  width: 3em;
}

.success {
  color: $color-green;
}
.error {
  color: $color-red;
}

.header {
  display: flex;
  text-transform: lowercase;

  h1 {
    margin: 0;
    letter-spacing: 0.25em;
    color: $color-highlight;
  }
}
.header-section {
  flex-grow: 1;
  flex-basis: 0;
  padding: 1em 2em;
}
.header-main {
  text-align: center;
}
.header-user {
  text-align: right;
}

.main {
  display: flex;
  flex-grow: 1;
  padding: 1em 2em;
}

.section-input {
  width: 40%;
}
.section-composition {
  flex-grow: 1;
  padding: 0 2em;
}

.detail {
  width: 100%;
}

.composition {
  width: 100%;
  padding: 1em;
  border-radius: 0.25em;
  box-sizing: border-box;
  background: $color-background-dark;
  box-shadow: 0 0 0.25em $color-background-darker;
}
.row {
  display: flex;
}
.tile {
  flex-grow: 1;
  position: relative;
  background: $color-white;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  &:before {
    content: '';
    display: block;
    padding-bottom: 100%;
  }
}
.tile-inner {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  box-sizing: border-box;
  line-height: 4em;
  text-align: center;
  border: 0.5em solid transparent;
}
.mode-final .tile-inner {
  visibility: hidden;
}
.composition-controls {
  display: flex;
  justify-content: space-between;
  margin: 1em 0;

  p {
    margin: 0;
  }
}
.composition-shuffle {
  width: 33.3%;
}
.composition-settings {
  width: 33.3%;
}

.images {
  @extend %clearfix;
  margin-top: -0.5em;
  margin-left: -1em;
  margin-right: -1em;
}
.image {
  width: 33.33%;
  float: left;
  padding: 1em;
  box-sizing: border-box;
}
.image-inner {
  position: relative;
  border: 1px solid $color-border;
  padding: 3em;
  padding-bottom: 1.5em;

  .tile {
    box-shadow: 0 0 0.5em $color-background-dark;
  }
}
.image-controls {
  margin-top: 3em;
  margin-left: -3em;
  margin-right: -3em;
  text-align: center;
}
.image-delete {
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  box-shadow: none;
}
.image-inner-add {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  &:before {
    content: '';
    display: block;
    padding-bottom: 100%;
  }
}

.conn-button {
  position: absolute;
  padding: 0;
  width: 2em;
  height: 2em;
  line-height: 2;
  color: $color-text-inverse;
  background: $color-white;
  box-shadow: 0 0 0.25em $color-background-dark;
}
.conn-button-0,
.conn-button-2 {
  top: 50%;
  margin-top: -1em;
}
.conn-button-0 {
  left: -2em;
}
.conn-button-2 {
  right: -2em;
}
.conn-button-1,
.conn-button-3 {
  left: 50%;
  margin-left: -1em;
}
.conn-button-1 {
  top: -2em;
}
.conn-button-3 {
  bottom: -2em;
}

.storage-header {
  display: flex;
  flex-direction: columns;
  min-width: 32em;
}
.section-heading {
  flex-grow: 1;
  margin: 0;
  padding: 0.5em 0;
  color: $color-highlight;
  text-transform: lowercase;
}
.storage-empty {
  border-top: 1px solid $color-border;
  padding: 0.5em 0;
  font-style: italic;
}
.storage-status {
  font-style: italic;
}
.storage-list {
  min-height: 1em;
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1em;

  td {
    border-top: 1px solid $color-border;
    padding-left: 0.5em;

    &:first-child {
      width: 100%;
      padding-left: 0;
    }
  }
  button {
    margin: 0.1em 0;
  }
}

$sides: (
  0: 'left',
  1: 'top',
  2: 'right',
  3: 'bottom'
);
$connections: (
  1: $color-red,
  2: $color-green,
  3: $color-blue,
  4: $color-orange,
  5: $color-yellow
);
@each $i, $side in $sides {
  @each $j, $color in $connections {
    .conn-#{$i}-#{$j} {
      border-#{$side}-color: $color;
    }
  }
}
@each $i, $color in $connections {
  .conn-#{$i} {
    background: $color;
  }
}

$rotations: (
  1: -0.25turn,
  2: -0.5turn,
  3: -0.75turn
);
@each $i, $rotation in $rotations {
  .rot-#{$i} {
    transform: rotate($rotation);
  }
}
